# environnement
.venv

# clé secrète
.env

# csv files / ipynb files / json files
web_scraping/*.csv
web_scraping/*.ipynb
web_scraping/*.json

# pycache
*__pycache__/


#Django apps

# db
BackEnd/db.sqlite3

#migration folders
*migrations/

