{% extends 'base.html' %}

{% block title %}Création de recette{% endblock %}

{% block content %}

<h2>Modifier la recette : {{recipe.title}}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div id="ingredients-container">
        <label>Ingrédients :</label>
        {% for ingredient in recipe.display_ingredients_list %}
            <div class="ingredient">
                <input type="text" name="ingredient_${ingredient_count}" value="{{ ingredient }}" placeholder="Ingredient ${Ingrédient_count}">
                <button type="button" onclick="deleteIngredient(this)">Supprimer</button>
            </div>
        {% endfor %}
    </div>

    <button type="button" onclick="addIngredient()">Ajouter un ingrédient</button><br><br>


    <div id="etapes-container">
        <label>Étapes :</label>
        {% for step in recipe.display_steps_list %}
            <div class="etape">
                <input type="text" name="step_${step_count}" value="{{ step }}" placeholder="Etape ${step_count}">
                <button type="button" onclick="deleteStep(this)">Supprimer</button>
            </div>
        {% endfor %}
    </div>

    <button type="button" onclick="addStep()">Ajouter une étape</button><br><br>

    <button type="submit">Enregistrer</button>
</form>

{% endblock %}



{% block script %}

    let ingredient_count = {{ ingredients|length|add:1 }};
    let step_count = {{ steps|length|add:1 }};


    function addIngredient() {
        const container = document.getElementById('ingredients-container');
        const div = document.createElement('div');
        div.className = 'ingredient';
        div.innerHTML = `
            <input type="text" name="ingredient_${ingredient_count}" placeholder="Ingrédient ${ingredient_count}">
            <button type="button" onclick="deleteIngredient(this)">Supprimer</button>
            `;
        container.appendChild(div);
        ingredient_count++;
        }
    
    
    function deleteIngredient(button) {
        const div = button.parentElement;
        div.remove();
        ingredient_count--;
    }


    function addStep() {
        const container = document.getElementById('etapes-container');
        const div = document.createElement('div');
        div.className = 'etape';
        div.innerHTML = `
            <input type="text" name="step_${step_count}" placeholder="Étape ${step_count}">
            <button type="button" onclick="deleteStep(this)">Supprimer</button>
            `;
        container.appendChild(div);
        step_count++;
        }
    
    function deleteStep(button) {
        const div = button.parentElement;
        div.remove();
        step_count--;
    }

{% endblock %}